{% extends "base.html" %} {% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card shadow-sm">
      <div class="card-body">
        <h3 class="card-title text-center mb-4">
          Profil użytkownika: {{ user.username }}
        </h3>
        <form method="POST">
          {% csrf_token %}
          <fieldset>
            <legend class="fs-5 mb-3">Ustawienia domyślne</legend>
            <div class="mb-3">
              <label for="{{ form.default_start_station.id_for_label }}" class="form-label">{{ form.default_start_station.label }}</label>
              {{ form.default_start_station }}
            </div>
            <div class="mb-3">
              <label for="{{ form.default_end_station.id_for_label }}" class="form-label">{{ form.default_end_station.label }}</label>
              {{ form.default_end_station }}
            </div>
            <hr />
            <legend class="fs-5 mb-3">{{ form.allowed_compartments.label }}</legend>
            <div id="{{ form.allowed_compartments.id_for_label }}">
              {% for checkbox in form.allowed_compartments %}
              <div class="form-check">{{ checkbox }}</div>
              {% endfor %}
            </div>
          </fieldset>
          <button class="btn btn-primary mt-4 w-100" type="submit">
            Zapisz zmiany
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}