<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KOLEO Checker</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        background-color: #f4f4f4;
      }
      .form-check {
        margin-bottom: 0.5rem;
      }
      .nav-link-button {
        padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
        color: var(--bs-nav-link-color);
        background: none;
        border: none;
      }
      .nav-link-button:hover {
        color: var(--bs-nav-link-hover-color);
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
      <div class="container">
        <a class="navbar-brand" href="{% url 'search_page' %}">KOLEO Checker</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:profile' %}">Profil</a>
            </li>
            <li class="nav-item">
              <form action="{% url 'users:logout' %}" method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="nav-link-button">Wyloguj</button>
              </form>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:login' %}">Zaloguj</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:register' %}">Zarejestruj</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <main class="container">
      {% if messages %} {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %} {% endif %} {% block content %}{% endblock %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>